# Secrets — Railway Variables
SPOTIFY_CLIENT_ID=a93f99b0286d4da6bb67021e1774489c
SPOTIFY_CLIENT_SECRET=e849fd278b2f46d9822ec6cebf70a0c9
SPOTIFY_USERNAME=V3no
SPOTIFY_PASSWORD=
SPOTIFY_DEVICE_NAME=V3no Player
SPOTIFY_ARTIST_ID=4tj9yRpZ3I6ymn8QnMLJhw
# RAILWAY_PUBLIC_DOMAIN est auto-injecté par Railway
